<a href="https://colab.research.google.com/github/jlsgodev/01-atividade-python-soul-code/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Pandas##

**Conceito:** é uma biblioteca "poderosa" para análise e manipulação de dados em Python.

**DataFrames:** Estruturas de dados bidimensional, semelhante a uma tabela ou uma planilha.

**Series:** Estrutura de dados unidimensional...Uma coluna de um DataFrame.

**Indexação e Seleção:** Oferece várias maneiras de acessar e selecionar dados.

In [ ]:
#Leitura de Dados

import pandas as pd

#Ler dados de um arquivo.csv
df = pd.read_csv('/content/Base de dados - Dados sobre desgaste de funcionarios.csv')

# Visualização e Exploração
# Visualizar as primeiras linhas
# print(df.head())

#Obter informações sobre o Dataframe
# print(df.info)

# Manipulação de Dados
#Filtrar dados
df_filtro_idade = df[df['Idade']>30]
# print(df_filtro_idade)

#Filtrar dados
df_filtro_idade_vendas = df[(df['Idade']>30) & (df['Departamento'] == 'Vendas')]
# print(df_filtro_idade_vendas)

#Filtrar dados
df_filtro_idade_vendas2 = df[(df['Idade']>30) & (df['Departamento'] == 'Vendas')][['Idade', 'Escolaridade', 'Departamento', 'Total de anos trabalhados']]
# print(df_filtro_idade_vendas2)

#Adicionando uma nova coluna
df_filtro_idade_vendas2['email'] = None
# print(df_filtro_idade_vendas2)

df_ordenado = df_filtro_idade_vendas2[['Idade', 'Escolaridade', 'email', 'Departamento', 'Total de anos trabalhados']]
# print(df_ordenado)

#Tratamento de dados Faltantes
df_ordenado['email'].fillna("sem_email", inplace=True) #NaN
df_ordenado['email'].replace("","NaN", inplace=True) #NaN
# print(df_ordenado)

#Agrupar por uma coluna e calcular a média
df_agrupado = df_ordenado.groupby('Escolaridade')[['Idade','Total de anos trabalhados']].mean()
# print(df_agrupado)

#Adicionar a coluna com a categorização
def categorizar(row):
  if row['Total de anos trabalhados'] > 0 and row['Total de anos trabalhados'] <=12:
    return 'Novato'
  elif row['Total de anos trabalhados'] > 12 and row['Total de anos trabalhados'] <=20:
    return 'Intermédiário'
  elif row['Total de anos trabalhados'] > 20:
    return 'Vetereno'
  else:
    return 'Sem experiência'

df_agrupado['Categoria'] = df_agrupado.apply(categorizar, axis=1)
print(df_agrupado)

#axis=0 eixo de linhas ou eixo vertical (analiso coluna a coluna)
#axis=1 eixo de coluna ou eixo horizontal(analiso linha a linha)

                  Idade  Total de anos trabalhados      Categoria
Escolaridade
1             41.476190                  12.952381  Intermédiário
2             40.215385                  11.969231         Novato
3             40.530435                  14.060870  Intermédiário
4             39.252174                  12.660870  Intermédiário
5             42.071429                  14.500000  Intermédiário

<ipython-input-11-317c24226eda>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ordenado['email'].fillna("sem_email", inplace=True) #NaN
<ipython-input-11-317c24226eda>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ordenado['email'].replace("","NaN", inplace=True) #NaN

In [ ]:
import pandas as pd

#Criação de um DataFrame de exemplo
dados = {
    'Idade': [25,32,40,29],
    'Anos_Trabalhados': [3,10,20,15],
    'Salario': [5000,6000,8000,5500]
}

df=pd.DataFrame(dados)

#Somando os valores de cada coluna usando axis=0
soma_colunas = df.sum(axis=0)
# print(soma_colunas)

#Somando os valores de cada linha usando axis=1
soma_linhas = df.sum(axis=1)
print(soma_linhas)

0    5028
1    6042
2    8060
3    5544
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
from IPython.display import display

# Criando um DataFrame de exemplo
data = {
    'nome': ['Ana', 'Bruno', 'Carla', 'Daniel', 'Eduarda', 'Felipe', 'Gabriela', 'Henrique'],
    'idade': [23, 45, np.nan, 36, 29, 41, 30, 36],
    'cidade': ['São Paulo', 'Rio de Janeiro', 'São Paulo', 'Rio de Janeiro', np.nan, 'São Paulo', 'Salvador', 'São Paulo'],
    'salario': [3000, 5000, 4500, np.nan, 3800, 5200, np.nan, 4800],
    'categoria': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B']
}

df = pd.DataFrame(data)
# print(df)

## Remover Duplicatas
df = df.drop_duplicates()
# print(df)

##Tratar Dados Faltantes
## Detectar os dados faltantes
# print(df.isnull().sum()) # Conta os valores ausentes por coluna

## Preencher os valores faltantes idade e salario
df['idade'] = df['idade'].fillna(df['idade'].mean())
df['salario'] = df['salario'].fillna(df['salario'].mean())

# Preencher valores faltantes em cidade com "desconhecida"
df['cidade'] = df['cidade'].fillna('Desconhecida')
# print(df)

## Filtrar Dados
df_filtrado = df[(df['idade']>30) & (df['cidade'] == 'São Paulo')]
# print(df_filtrado)

## Alterar Tipos de Dados
df['idade'] = pd.to_numeric(df['idade'], errors='coerce')
df['categoria'] = df['categoria'].astype('category')
# print(df.dtypes)

## Renomear Colunas
df = df.rename(columns={'salario': 'salario_bruto'})
# print(df)

##Alterar a ordem das Colunas
df = df[['nome', 'cidade', 'idade', 'salario_bruto', 'categoria']]
# print(df)

##Manipulando String
df['nome'] = df['nome'].str.upper()
# print(df)

##Aplicar Funções Personalizadas
def calcular_imposto(salario):
  return salario * 0.1

df['imposto'] = df['salario_bruto'].apply(calcular_imposto)
# print(df)

##Classificação e Ordenação
df = df.sort_values(by='idade', ascending=True)
# print(df)

## Agrupamento e Agregação
df_agrupado = df.groupby('categoria')['salario_bruto'].mean()
# print(df_agrupado)

## Remoção de Colunas
df = df.drop(columns=['imposto'])
# print(df)

##Criar uma nova coluna 'faixa_etaria' baseada na idade
df['faixa_etaria'] = df['idade'].apply(lambda x: 'Jovem' if x < 30 else 'Adulto')
# print(df)

## Remover Linhas ou Colunas com Base em Condições Específicas
# Remover linhas onde o valor da coluna 'salario_bruto' é menor que 3500
df2 = df[df['salario_bruto'] < 3500]
# print(df2)

# Remover colunas onde o número de valores ausentes é maior que 2
# df = df.dropna(axis=1, thresh=2)
# print(df)


#Aplicar Funções Lambda a Multiplas colunas
df['soma_salario_idade'] = df.apply(lambda linha: linha['salario_bruto'] + linha['idade'], axis=1)
# print(df)

display(df)

<ipython-input-20-7e3960ff8671>:66: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_agrupado = df.groupby('categoria')['salario_bruto'].mean()

,nome,cidade,idade,salario_bruto,categoria,faixa_etaria,soma_salario_idade
0,ANA,São Paulo,23.000000,3000.000000,A,Jovem,3023.000000
4,EDUARDA,Desconhecida,29.000000,3800.000000,A,Jovem,3829.000000
6,GABRIELA,Salvador,30.000000,4383.333333,A,Adulto,4413.333333
2,CARLA,São Paulo,34.285714,4500.000000,A,Adulto,4534.285714
3,DANIEL,Rio de Janeiro,36.000000,4383.333333,B,Adulto,4419.333333
7,HENRIQUE,São Paulo,36.000000,4800.000000,B,Adulto,4836.000000
5,FELIPE,São Paulo,41.000000,5200.000000,B,Adulto,5241.000000
1,BRUNO,Rio de Janeiro,45.000000,5000.000000,B,Adulto,5045.000000

In [ ]:
import pandas as pd
import numpy as np

data = {
    'A': [1, 2, np.nan, 4],
    'B': [np.nan, np.nan, np.nan, 8],
    'C': [1, np.nan, 3, 4],
    'D': [np.nan, np.nan, np.nan, np.nan]
}
df = pd.DataFrame(data)

print("Data Frame Original")
print(df)

df2 = df.dropna(axis=1, thresh=2)
print("Data Frame Após Remover")
print(df2)

Data Frame Original
     A    B    C   D
0  1.0  NaN  1.0 NaN
1  2.0  NaN  NaN NaN
2  NaN  NaN  3.0 NaN
3  4.0  8.0  4.0 NaN
Data Frame Após Remover
     A    C
0  1.0  1.0
1  2.0  NaN
2  NaN  3.0
3  4.0  4.0